body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2.5vw;
  margin: 0;
}

input {
  font-size: 3vw;
}

.Home {
  height: 80vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
